<!DOCTYPE html>
<html>
<head>
    <title>{{titulo}}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
    <div class="content">
        <header>
            <h2 align="center">
                {{subtitulo}}
            </h2>
            <p align="center">Pequeño Chat</p>
        </header>
        {% if mensajito %}
                <div style="background-color: {{color}}; text-align: center;">
                    <p>{{ mensajito }}</p>
                </div>
            {% endif %}
        {% block content %}

        {% endblock %}
    </div>
    {% block footer %}
        <footer style="height: 10%">
            <p>Creado por Erick Gomez</p>
            {% if usuario %}
                <div style="float: right;">
                    <a href="/logout" class="button alt">Cerrar Sesión</a>
                </div>
            {% endif %}
        </footer>
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
</body>
</html>