{% extends './home/base.html' %}

{% block content %}
    <div class="row uniform">
        <div class="4u 12u$(xsmall)">
        </div>
        <div class="4u 12u$(xsmall)">
            <form method="POST">
                <input type="text" name="user" placeholder="Usuario" />
                <input type="password" name="clave" placeholder="Contraseña" />
                <div align="center">
                    <input type="submit" name="enviar" value="Entrar" class="alt" />
                    <br/>
                    <a href="/registro">¿No tienes cuenta?</a>
                </div>
            </form>
        </div>
        <div class="4u 12u$(xsmall)">
        </div>
    </div>
{% endblock %}