{% extends './base.html' %}

{% block content %}
            {% if mensajito %}
                <div style="background-color: {{color}}; text-align: center;">
                    {% if mensajito == "error" %}
                        <p>Nombre de usuario ya registrado</p>
                    {% else %}
                        <p>Registrado con exito</p>
                    {% endif %}
                </div>
            {% endif %}
    <div class="row uniform">
        <div class="4u 12u$(xsmall)">
        </div>
        <div class="4u 12u$(xsmall)">
            <form method="POST">
                <input type="text" name="user" placeholder="Usuario" />
                <input type="text" name="email" placeholder="Correo" />
                <input type="password" name="clave" placeholder="Contraseña" />
                <input type="password" name="clave_repetir" placeholder="Repetir Contraseña" />
                <div align="center">
                    <input type="submit" name="enviar" value="Registrarse" class="alt" />
                    <br/>
                    <a href="/ingresa">¿Ya tienes cuenta?</a>
                </div>
            </form>
        </div>
        <div class="4u 12u$(xsmall)">
        </div>
    </div>
{% endblock %}